@charset "utf-8";
/* CSS Document */

  #table {
      width: 1024px; /* col1 + col2 + col3 + padding + border */
      border-top: 4px solid #666666; /* เส้นกรอบด้านบน */
      background-color: #FFF; /* สีพื้นของตาราง */
	  
  }
  #table p {
      clear: both;
      width: 100%;
      margin: 0;
  }
  #table span {
      float: left;
      padding: 5px 10px 5px; padding ของแต่ละคอลัมน์ */
	  border-top: 1px solid #666666;
      border-left: 1px solid #666666; /* เส้นกรอบด้านซ้ายของแต่ละเซล */
      border-bottom: 1px solid #666666; /* เส้นกรอบด้านล่างของแต่ละเซล */
	  border-right:1px solid #666666;
  }
  #table span.col1 {
      width: 120px; /* ความกว้างของคอลัมน์ 1 */
	  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight:bold;
  }
  #table span.col2 {
      width: 15%; /* ความกว้างของคอลัมน์ 1 */
	  font-family: Arial, Helvetica, sans-serif; font-size: 12px;
  }
  #table span.colblank {
      width: 100%; /* ความกว้างของคอลัมน์ 1 */
  }
 #col-pink{ background:#FFDDEE;}